In [1]:
import pandas as pd
import re
from pathlib import Path

In [2]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [3]:
data_folder = Path("/content/drive/MyDrive/Colab Notebooks/Projects/Airline/Data")

In [4]:
aa_otp = pd.read_csv(data_folder/"AA_OTP.csv")
alaska_otp = pd.read_csv(data_folder/"Alaska_OTP.csv")
delta_otp = pd.read_csv(data_folder/"Delta_OTP.csv")
sw_otp = pd.read_csv(data_folder/"SouthWest_OTP.csv")
united_otp = pd.read_csv(data_folder/"United_OTP.csv")

In [5]:
print(aa_otp.isna().sum())
print(alaska_otp.isna().sum())
print(delta_otp.isna().sum())
print(sw_otp.isna().sum())
print(united_otp.isna().sum())

year                    0
 month                  0
carrier                 0
carrier_name            0
airport                 0
airport_name            0
arr_flights             4
arr_del15              11
carrier_ct              4
 weather_ct             4
nas_ct                  4
security_ct             4
late_aircraft_ct        4
arr_cancelled           4
arr_diverted            4
 arr_delay              4
 carrier_delay          4
weather_delay           4
nas_delay               4
security_delay          4
late_aircraft_delay     4
dtype: int64
year                   0
 month                 0
carrier                0
carrier_name           0
airport                0
airport_name           0
arr_flights            1
arr_del15              2
carrier_ct             1
 weather_ct            1
nas_ct                 1
security_ct            1
late_aircraft_ct       1
arr_cancelled          1
arr_diverted           1
 arr_delay             1
 carrier_delay         1
weather_delay          1
nas_delay              1
security_delay         1
late_aircraft_delay    1
dtype: int64
year                    0
 month                  0
carrier                 0
carrier_name            0
airport                 0
airport_name            0
arr_flights            53
arr_del15              63
carrier_ct             53
 weather_ct            53
nas_ct                 53
security_ct            53
late_aircraft_ct       53
arr_cancelled          53
arr_diverted           53
 arr_delay             53
 carrier_delay         53
weather_delay          53
nas_delay              53
security_delay         53
late_aircraft_delay    53
dtype: int64
year                   0
 month                 0
carrier                0
carrier_name           0
airport                0
airport_name           0
arr_flights            0
arr_del15              0
carrier_ct             0
 weather_ct            0
nas_ct                 0
security_ct            0
late_aircraft_ct       0
arr_cancelled          0
arr_diverted           0
 arr_delay             0
 carrier_delay         0
weather_delay          0
nas_delay              0
security_delay         0
late_aircraft_delay    0
dtype: int64
year                    0
 month                  0
carrier                 0
carrier_name            0
airport                 0
airport_name            0
arr_flights            22
arr_del15              35
carrier_ct             22
 weather_ct            22
nas_ct                 22
security_ct            22
late_aircraft_ct       22
arr_cancelled          22
arr_diverted           22
 arr_delay             22
 carrier_delay         22
weather_delay          22
nas_delay              22
security_delay         22
late_aircraft_delay    22
dtype: int64

In [6]:
def rmvSpaceFromCol(df):
    newCol = []
    cols = df.columns
    for col in cols:
        newCol.append(re.sub(r'\s+','',col))
    df.columns = newCol

In [7]:
rmvSpaceFromCol(aa_otp)
rmvSpaceFromCol(alaska_otp)
rmvSpaceFromCol(delta_otp)
rmvSpaceFromCol(sw_otp)
rmvSpaceFromCol(united_otp)

In [8]:
aa_otp.head(2)

   year  month carrier  ... nas_delay security_delay late_aircraft_delay
0  2003      7      AA  ...     719.0            0.0              1527.0
1  2003      7      AA  ...     651.0            0.0               431.0

[2 rows x 21 columns]

In [9]:
aa_otp.drop(columns = ['month', 'carrier', 'carrier_name', 'airport', 'airport_name', 'carrier_ct', 'weather_ct', 'nas_ct', 'security_ct', 'late_aircraft_ct', 'arr_cancelled', 'arr_diverted', 'arr_delay', 'carrier_delay', 'weather_delay', 'nas_delay', 'security_delay', 'late_aircraft_delay'], inplace=True)
alaska_otp.drop(columns = ['month', 'carrier', 'carrier_name', 'airport', 'airport_name', 'carrier_ct', 'weather_ct', 'nas_ct', 'security_ct', 'late_aircraft_ct', 'arr_cancelled', 'arr_diverted', 'arr_delay', 'carrier_delay', 'weather_delay', 'nas_delay', 'security_delay', 'late_aircraft_delay'], inplace=True)
delta_otp.drop(columns = ['month', 'carrier', 'carrier_name', 'airport', 'airport_name', 'carrier_ct', 'weather_ct', 'nas_ct', 'security_ct', 'late_aircraft_ct', 'arr_cancelled', 'arr_diverted', 'arr_delay', 'carrier_delay', 'weather_delay', 'nas_delay', 'security_delay', 'late_aircraft_delay'], inplace=True)
sw_otp.drop(columns = ['month', 'carrier', 'carrier_name', 'airport', 'airport_name', 'carrier_ct', 'weather_ct', 'nas_ct', 'security_ct', 'late_aircraft_ct', 'arr_cancelled', 'arr_diverted', 'arr_delay', 'carrier_delay', 'weather_delay', 'nas_delay', 'security_delay', 'late_aircraft_delay'], inplace=True)
united_otp.drop(columns = ['month', 'carrier', 'carrier_name', 'airport', 'airport_name', 'carrier_ct', 'weather_ct', 'nas_ct', 'security_ct', 'late_aircraft_ct', 'arr_cancelled', 'arr_diverted', 'arr_delay', 'carrier_delay', 'weather_delay', 'nas_delay', 'security_delay', 'late_aircraft_delay'], inplace=True)

In [10]:
%%capture
aa_otp.fillna(aa_otp.mean(), inplace=True)
alaska_otp.fillna(alaska_otp.mean(), inplace=True)
delta_otp.fillna(delta_otp.mean(), inplace=True)
united_otp.fillna(united_otp.mean(), inplace=True)

In [11]:
aa_otp = aa_otp.groupby('year').sum()
alaska_otp = alaska_otp.groupby('year').sum()
delta_otp = delta_otp.groupby('year').sum()
sw_otp = sw_otp.groupby('year').sum()
united_otp = united_otp.groupby('year').sum()

In [12]:
aa_otp['airline'] = "aa"
alaska_otp['airline'] = "alaska"
delta_otp['airline'] = "delta"
sw_otp['airline'] = "sw"
united_otp['airline'] = "united"

In [13]:
otp = pd.concat([aa_otp, alaska_otp, delta_otp, sw_otp, united_otp])
otp['pc_delay'] = otp['arr_del15'] / otp['arr_flights'] * 100
pc_delay = otp['pc_delay']
otp = otp.drop(columns=['pc_delay'])
otp.insert(loc=2, column='pc_delay', value = pc_delay)
otp.reset_index(inplace=True)

In [14]:
otp = otp[(otp['year'] >= 2006) & (otp['year'] <= 2020)]