In [1]:
import pandas as pd
import re

In [2]:
aa_otp = pd.read_csv("Data/AA_OTP.csv")
alaska_otp = pd.read_csv("Data/Alaska_OTP.csv")
delta_otp = pd.read_csv("Data/Delta_OTP.csv")
sw_otp = pd.read_csv("Data/SouthWest_OTP.csv")
united_otp = pd.read_csv("Data/United_OTP.csv")

# American Airlines

In [3]:
print(aa_otp.isna().sum())
print(alaska_otp.isna().sum())
print(delta_otp.isna().sum())
print(sw_otp.isna().sum())
print(united_otp.isna().sum())

year                    0
 month                  0
carrier                 0
carrier_name            0
airport                 0
airport_name            0
arr_flights             4
arr_del15              11
carrier_ct              4
 weather_ct             4
nas_ct                  4
security_ct             4
late_aircraft_ct        4
arr_cancelled           4
arr_diverted            4
 arr_delay              4
 carrier_delay          4
weather_delay           4
nas_delay               4
security_delay          4
late_aircraft_delay     4
dtype: int64
year                   0
 month                 0
carrier                0
carrier_name           0
airport                0
airport_name           0
arr_flights            1
arr_del15              2
carrier_ct             1
 weather_ct            1
nas_ct                 1
security_ct            1
late_aircraft_ct       1
arr_cancelled          1
arr_diverted           1
 arr_delay             1
 carrier_delay         1
weather_delay          1
nas_delay              1
security_delay         1
late_aircraft_delay    1
dtype: int64
year                    0
 month                  0
carrier                 0
carrier_name            0
airport                 0
airport_name            0
arr_flights            53
arr_del15              63
carrier_ct             53
 weather_ct            53
nas_ct                 53
security_ct            53
late_aircraft_ct       53
arr_cancelled          53
arr_diverted           53
 arr_delay             53
 carrier_delay         53
weather_delay          53
nas_delay              53
security_delay         53
late_aircraft_delay    53
dtype: int64
year                   0
 month                 0
carrier                0
carrier_name           0
airport                0
airport_name           0
arr_flights            0
arr_del15              0
carrier_ct             0
 weather_ct            0
nas_ct                 0
security_ct            0
late_aircraft_ct       0
arr_cancelled          0
arr_diverted           0
 arr_delay             0
 carrier_delay         0
weather_delay          0
nas_delay              0
security_delay         0
late_aircraft_delay    0
dtype: int64
year                    0
 month                  0
carrier                 0
carrier_name            0
airport                 0
airport_name            0
arr_flights            22
arr_del15              35
carrier_ct             22
 weather_ct            22
nas_ct                 22
security_ct            22
late_aircraft_ct       22
arr_cancelled          22
arr_diverted           22
 arr_delay             22
 carrier_delay         22
weather_delay          22
nas_delay              22
security_delay         22
late_aircraft_delay    22
dtype: int64

In [4]:
def rmvSpaceFromCol(df):
    newCol = []
    cols = df.columns
    for col in cols:
        newCol.append(re.sub(r'\s+','',col))
    df.columns = newCol

In [5]:
rmvSpaceFromCol(aa_otp)
rmvSpaceFromCol(alaska_otp)
rmvSpaceFromCol(delta_otp)
rmvSpaceFromCol(sw_otp)
rmvSpaceFromCol(united_otp)

In [6]:
aa_otp.head(2)

,year,month,carrier,carrier_name,airport,airport_name,arr_flights,arr_del15,carrier_ct,weather_ct,...,security_ct,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
0,2003,7,AA,American Airlines Inc.,ABQ,"Albuquerque, NM: Albuquerque International Sun...",326.0,83.0,34.50,7.97,...,0.0,22.07,1.0,0.0,4329.0,1625.0,458.0,719.0,0.0,1527.0
1,2003,7,AA,American Airlines Inc.,ANC,"Anchorage, AK: Ted Stevens Anchorage Internati...",93.0,34.0,11.73,0.83,...,0.0,6.87,0.0,2.0,1911.0,711.0,118.0,651.0,0.0,431.0

In [7]:
aa_otp.drop(columns = ['month', 'carrier', 'carrier_name', 'airport', 'airport_name', 'carrier_ct', 'weather_ct', 'nas_ct', 'security_ct', 'late_aircraft_ct', 'carrier_delay', 'weather_delay', 'nas_delay', 'security_delay', 'late_aircraft_delay'], inplace=True)
alaska_otp.drop(columns = ['month', 'carrier', 'carrier_name', 'airport', 'airport_name', 'carrier_ct', 'weather_ct', 'nas_ct', 'security_ct', 'late_aircraft_ct', 'carrier_delay', 'weather_delay', 'nas_delay', 'security_delay', 'late_aircraft_delay'], inplace=True)
delta_otp.drop(columns = ['month', 'carrier', 'carrier_name', 'airport', 'airport_name', 'carrier_ct', 'weather_ct', 'nas_ct', 'security_ct', 'late_aircraft_ct', 'carrier_delay', 'weather_delay', 'nas_delay', 'security_delay', 'late_aircraft_delay'], inplace=True)
sw_otp.drop(columns = ['month', 'carrier', 'carrier_name', 'airport', 'airport_name', 'carrier_ct', 'weather_ct', 'nas_ct', 'security_ct', 'late_aircraft_ct', 'carrier_delay', 'weather_delay', 'nas_delay', 'security_delay', 'late_aircraft_delay'], inplace=True)
united_otp.drop(columns = ['month', 'carrier', 'carrier_name', 'airport', 'airport_name', 'carrier_ct', 'weather_ct', 'nas_ct', 'security_ct', 'late_aircraft_ct', 'carrier_delay', 'weather_delay', 'nas_delay', 'security_delay', 'late_aircraft_delay'], inplace=True)

In [8]:
%%capture
aa_otp.fillna(aa_otp.mean(), inplace=True)
alaska_otp.fillna(alaska_otp.mean(), inplace=True)
delta_otp.fillna(delta_otp.mean(), inplace=True)
united_otp.fillna(united_otp.mean(), inplace=True)

In [9]:
aa_otp = aa_otp.groupby('year').mean()
alaska_otp = alaska_otp.groupby('year').mean()
delta_otp = delta_otp.groupby('year').mean()
sw_otp = sw_otp.groupby('year').mean()
united_otp = united_otp.groupby('year').mean()

In [10]:
aa_otp['airline'] = "aa"
alaska_otp['airline'] = "alaska"
delta_otp['airline'] = "delta"
sw_otp['airline'] = "sw"
united_otp['airline'] = "united"

In [11]:
otp = pd.concat([aa_otp, alaska_otp, delta_otp, sw_otp, united_otp])
otp

,arr_flights,arr_del15,arr_cancelled,arr_diverted,arr_delay,airline
year,,,,,,
2003,720.907131,135.582090,10.646766,1.744610,7410.878939,aa
2004,694.381710,147.266402,12.328032,1.634195,8734.994036,aa
2005,675.576238,144.811056,9.784793,1.722299,8147.276891,aa
2006,664.872934,150.375000,10.461777,1.757231,8856.628099,aa
2007,673.599362,189.297556,19.047821,2.228480,11551.245484,aa
...,...,...,...,...,...,...
2017,510.909965,85.379437,5.208916,1.145105,5927.100524,united
2018,509.062244,98.066402,4.015561,1.430794,6798.986077,united
2019,495.565609,104.613193,4.265488,1.439948,7910.435335,united
2020,318.125338,29.804930,23.147714,0.478081,1815.677488,united
2021,375.619386,61.453330,4.256447,0.903771,3987.822723,united